.suggested-users-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.suggested-users-main .suggested-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.suggested-users-main .suggested-user .suggested-user-name-profile {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
}

.suggested-users-main .suggested-user .user-avatar {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.suggested-users-main .suggested-user .suggestedUser-name {
  display: flex;
  flex-direction: column;
}

.suggested-users-main .suggested-user button {
  background-color: var(--primary-color);
  border: none;
  color: var(--white-color);
  height: 40px;
  cursor: pointer;
}

.suggested-users-main .suggested-user button:hover {
  background-color: var(--primary-dark);
}

@media only screen and (max-width: 1024px) and (min-width: 601px) {
  .suggested-users-main .suggested-user {
    flex-wrap: wrap;
    gap: 0.5rem;
    border: 0.5px solid var(--grey-color);
    padding: 10px;
  }

  .suggested-users-main .suggested-user button {
    width: 100%;
  }
}
