.home-content {
  display: flex;
}

.home-main {
  width: 58%;
  padding: 10px 0;
  position: relative;
  left: 15%;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}