.home-content {
  display: flex;
}

.home-main {
  width: 58%;
  padding: 10px 0;
  position: relative;
  left: 15%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 60px;
}

select {
  border: 2px solid var(--primary-dark);
}

@media (max-width: 600px) {
  .home-content .rightSideBar {
    display: none;
  }

  .home-main {
    width: 100%;
    left: 0%;
  }
}
