.bookmarks-content {
  display: flex;
  background-color: var(--offwhite-color);
}

.bookmarks-main {
  width: 57%;
  text-align: center;
  padding: 10px 0;
  position: relative;
  left: 15%;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
