.explore-content {
  display: flex;
  background-color: var(--offwhite-color);
}

.explore-main {
  width: 58%;
  padding: 20px 0;
  position: relative;
  left: 15%;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sort-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort-post select {
  padding: 5px;
}
